:root {
    background-color: var(--background-default);

    /* colors */
    --saddle-brown: #a54417;
    --saddle-brown-50: #a5441780;
    --tan: #c5a07e;
    --cadet-blue: #7ea8b4;
    --cadet-blue-50: #7ea8b480;
    --dark-olive-green: #815e4c;
    --almost-black: #080506;
    --normal-font-color: #242424;
    --background-default: #fefefe;
    --text-default: #fefefecc;
    --blue: #498afb; 
}

/* My default */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, 
h2, h3, h4, h5, h6, pre, form, label, fieldset, 
input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    color: var(--almost-black);
    font: normal normal 14px Lato;
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: none;
}

a {
    text-decoration: none;
}

.golang-template {
    display: none;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}


/* nav-bar */
#nav-bar {
    background-color: #444;
    position: fixed;
    height: 55px;
    width: 100%;
    top: 0;
    z-index: 99;
}

#nav-bar .container {
    position: relative;
    /* Good until width is less than about 600px */ 
    /* Try to add mobile responsiveness later */ 
    width: min(1060px, 78%); 
    height: inherit;
    margin: 0 auto;
}

#nav-bar .site-menu {
    float: left;
    margin-left: 16px;
}

.site-menu ul{
    list-style-type: none;
    overflow: hidden;
}

.site-menu li {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    margin-right: 22px;
    position: relative;
}

.site-menu li a {
    font: 14px Lato;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inherit;
    color: white;
    opacity: 80%;
    /* transition: .3s; */
    /* -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s; */
}

.site-menu li a:hover {
    opacity: 100%;
    transition: opacity .2+
    s;
    color: rgb(0, 0, 255);
}

.site-menu li a:hover, .site-menu li a:hover,
.site-menu li a:visited, .site-menu li a:link {
    font-weight: 0, 500 !important;
    text-decoration: none;
}

/* Style the search box inside the navigation bar */
.top-search {
    margin-top: 17px;
    float: right;
}

.top-search input[type=text] {
    padding: 2px;
    border: none;
    font-size: 14px;
}

.top-search button {
    float: right;
    padding: 4px 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 13px;
    border: none;
    cursor: pointer;
}


/* header */
#header {
    margin-top: 55px;
    background-color: #444;
    position: static;
    height: 200px; 
    /* 200px */
    /* 50vh */
    width: 100%;
    z-index: 9;
}

#header .container{
    margin: 0 auto;
    height: inherit;
    width: min(1060px, 78%);;

    /* centering a div */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header h1{
    color: var(--background-default);
    opacity: 0.9;
    font-weight: 600;
    font-size: clamp(2.25em, 6.5vw, 5.8em);
    font-stretch: expanded;
    letter-spacing: normal;
    line-height: 100%;
}

#main {
    margin-top: 50px;
    background-color: inherit;
    position: static;
    width: 100%;
    z-index: 9;
}

#main .container{
    margin: 0 auto;
    height: inherit;
    width: min(1060px, 78%);;

    /* centering a div */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* footer */
#footer-basic {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    /*140px*/
    background-color: #444;
    color: var(--text-default);
}

#footer-basic .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    height: 100%;
}

#footer-basic .grid-item-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-basic .github-link, #footer-basic .copyright{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
}

#footer-basic .grid-item-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-basic .created-with{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer-basic .created-with i{
    height: 32px;
    position: relative;
    bottom: 9px;
}

#footer-basic .media-link{

}

#footer-basic .to-top{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    letter-spacing: 1px;
}

#footer-basic .to-top i{
    margin-left: 5px;
}

#footer-basic a{
    color: #39a9ff;
}

