.nav-bar {
    /* display: flex; */
    background-color: rgb(39, 36, 36);
    position: sticky;
    top: 0;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover{
    background-color: rgb(138, 12, 12);
}

.active {
    background-color: #51a1d1;
}

.footer-basic {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: blue;
}